form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}

form > div > label {
  display: block;
  margin-bottom: 0.3em;
}

form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
}

button:hover {
  filter: brightness(150%);
}

.container {
  padding: 0 2.5%;
  position: relative;
}

.top-icons img {
  width: 25px;
  margin-left: 40px;
  cursor: pointer;
}

.row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex-basis: 65%;
}

.col-2 {
  flex-basis: 33%;
}

.host-img {
  height: calc(100vh - 266px);
  width: 89vw;
  background: #182842;
  border-radius: 15px;
  padding: 30px 40px 50px;
  color: #fff;
}

.contarols {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contarols img {
  width: 40px;
  margin: 20px 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

.contarols .call-icon {
  width: 70px;
}

.contarols img:hover {
  transform: translateY(-10px);
}

.joined {
  position: absolute;
  height: 121px;
  width: 104px;
  right: 44px;
  top: 37px;
  background: gray;
  border-radius: 15px;
  padding: 30px 40px 50px;
  color: #fff;
}

.joined div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.joined img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.invite {
  background: #182842;
  border-radius: 15px;
  padding: 30px 40px 50px;
  color: #fff;
  margin-top: 20px;
}

.invite img {
  margin-top: 20px;
  width: 50px;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
}
